* {
    font-family: 微软雅黑;
}

html {
    font-size: 16px;
}

.ks-button {
    font-size: 18px;
    display: inline-block;
    background: #09c;
    color: #fff;
    cursor: pointer;
    margin: 0 0 1.11111rem;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    text-decoration: none;
    transition: background-color 300ms ease-out;
}

.ks-button:hover {
    background-color: #08c;
}