<div class="ui-title"><%= Config %></div>
<ul class="container">
    <li>
        <label><%= Text_Speed %></label>
        <input class="range-slider text-speed" type="range" min="0" max="1" step="0.01">
    </li>
    <li>
        <label><%= Text_Auto %></label>
        <input class="range-slider" type="range">
    </li>
    <li>
        <label><%= Music %></label>
        <input class="range-slider music" type="range" min="0" max="1" step="0.01">
    </li>
    <li>
        <label><%= Sound %></label>
        <input class="range-slider sound" type="range" min="0" max="1" step="0.01">
    </li>
    <li>
        <label><%= Voice %></label>
        <input class="range-slider voice" type="range" min="0" max="1" step="0.01">
    </li>
</ul>
<div class="close button"><%= Close %></div>