<div class="ui-title"><%= Config %></div>
<ul class="container">
    <li>
        <label><%= Text_Speed %></label>
        <input class="range-slider" type="range">
    </li>
    <li>
        <label><%= Text_Auto %></label>
        <input class="range-slider" type="range">
    </li>
    <li>
        <label><%= Music %></label>
        <input class="range-slider" type="range">
    </li>
    <li>
        <label><%= Sound %></label>
        <input class="range-slider" type="range">
    </li>
    <li>
        <label><%= Voice %></label>
        <input class="range-slider" type="range">
    </li>
</ul>
<div class="close button"><%= Close %></div>