<div class="wrapper">
    <div class="name"></div>
    <div class="content">
        <img class="face hidden" src=""/>
        <span class="text"></span>
    </div>
    <ul class="controls">
        <li class="qsave"><%= Q_Save %></li>
        <li class="qlave"><%= Q_Load %></li>
        <li class="save"><%= Save %></li>
        <li class="load"><%= Load %></li>
        <li class="config"><%= Config %></li>
        <li class="log"><%= History %></li>
        <li class="exit"><%= Title %></li>
    </ul>
</div>