/* 颜色搭配
 * 蓝色：#357cc7
 * 浅灰：#a7a7a7
 * 橙色：#e56437
 */

/* 窗口 */
body {
    background-color: #000; /* 背景 */
}

#game-container {
    cursor: url(arrow.cur), auto; /* 鼠标 */
}

/* 顶部菜单栏 */
#nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s;
}

#nav.hide {
    height: 0;
    opacity: 0;
}

#nav li {
    float: left;
    line-height: 40px;
    margin: 5px;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 5px;
    color: #a7a7a7;
    transition: all 0.3s;
    font-size: 18px;
}

#nav li:hover {
    color: #fff;
    background-color: #357cc7;
}

#nav li:active {
    color: #fff;
    background-color: #e56437;
}

/* 主菜单 */
#mainmenu ul {
    position: absolute;
    left: 0;
    bottom: 35%;
    width: 100%;
}

#mainmenu ul li {
    display: block;
    width: 100px;
    margin: 5px auto;
    color: #a7a7a7;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    transition: all 0.3s;
    border-radius: 5px;
    padding: 5px 25px;
}

#mainmenu ul li:hover {
    color: #fff;
    background-color: #357cc7;
}

/* 对话框 */
.dialog {
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
}

.dialog #dialog-name {
    color: #fff;
    padding: 0 25px;
    position: absolute;
    left: 50px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    background-color: #357cc7;
    border-radius: 5px 5px 0 0;
}

.dialog #dialog-content {
    position: absolute;
    left: 50px;
    padding: 10px;
    top: 38px;
    width: 860px;
    height: 180px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 0 5px 5px 5px;
    border: 10px solid #357cc7;
    overflow: hidden;
}

.dialog #dialog-face {
    width: 155px;
    height: 155px;
    float: left;
    margin-right: 20px;
}

.dialog2 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    left: 0;
    top: 0;
    padding: 5px 10px;
}

.dialog2 #dialog-name {
    display: none;
}

.dialog2 #dialog-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 10px solid #357cc7;
}

.dialog2 #dialog-face {
    display: none;
}