/.idea/
/.sass-cache/
/asset/
/bower_components/
/custom/
/dev/doc/jsdoc/
/dev/doc/obslete/
/dev/grunt/temp/
/dev/grunt/dist/favicon.ico
/dev/grunt/dist/custom/menu.jpg
/dist/
/engine/ui/**/*.css
/node_modules/