<div id="nav">
    <ul class="container">
        <li>
            <a href="{{ site.baseurl }}/">首页</a>
        </li>
        <li class="hidden">
            <a href="{{ site.baseurl }}/tutorial/">教程</a>
        </li>
        <li class="hidden">
            <a href="{{ site.baseurl }}/example/">示例</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/api/">API</a>
        </li>
        <li class="hidden">
            <a href="{{ site.baseurl }}/tool/">工具</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/document/">文档</a>
        </li>
        <li class="hidden">
            <a href="">组件</a>
        </li>
        <li>
            <a href="http://webvn.surunzi.com/">官网</a>
        </li>
        <li>
            <a href="https://github.com/surunzi/WebVN">GitHub</a>
        </li>
    </ul>
</div>