@import "variables";

#dialog {
    z-index: $index-dialog;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px;
    transform: translateZ(0);
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .name {
        color: #fff;
        text-shadow: 0 0 3px $secondary-color;
        position: absolute;
        bottom: 245px;
        padding: 10px 25px;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px 5px 0 0;
    }
    .controls {
        position: absolute;
        bottom: 245px;
        right: 0;
        opacity: 0.2;
        transition: opacity .3s;
        &:hover {
            opacity: 1;
        }
        li {
            color: #fff;
            text-shadow: 0 0 3px $secondary-color;
            font-size: 15px;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 8px 15px;
            float: left;
            transition: background .3s;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
            &.qsave {
                border-top-left-radius: 5px;
            }
            &.exit {
                border-top-right-radius: 5px;
            }
        }
    }
    .content {
        padding: 25px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0 5px 5px 5px;
        height: 240px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        bottom: 0;
        .face {
            height: 100%;
            margin-right: 20px;
            float: left;
        }
        .text {
            text-shadow: 0 0 3px $primary-color;
            line-height: 1.5em;
            color: #fff;
            font-size: 30px;
            span {
                transform: translateZ(0);
            }
        }
    }
    &.big {
        .name {
            display: none;
        }
        .controls {
            display: none;
        }
        .content {
            .face {
                display: none !important;
            }
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}