$index-dialog: 1200;
$index-menu: 2000;
$index-cg: 2200;
$index-music: 2200;
$index-particle: 1000;
$index-background: 500;
$index-figure: 800;

$primary-color: #eb6864;
$secondary-color: #07a;
$blue: #07a;
$blue-dark: #006381;
$pink: #eb6864;
$pink-dark: #d65653;
$gray: #f1f1f1;
$gray-dark: #e1e1e1;