@import "variables";

.range-slider {
    -webkit-appearance: none !important;
    height: 10px;
    width: 100%;
    border: 1px solid $gray-dark;
    margin: 18px 0;
    background: $gray;
    outline: none;
    &::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: $blue;
    }
}