@import "variables";

.th {
    border: solid 4px #fff;
    box-shadow: 0 0 1px $gray-dark;
    display: inline-block;
    max-width: 100%;
    line-height: 0;
    transition: all .3s ease-out;
    &:hover {
        box-shadow: 0 0 6px 1px $blue;
    }
    img {
        max-width: 100%;
    }
}